fastapi
uvicorn
python-multipart
pdfplumber
spacy
openai-whisper
opencv-python
streamlit
sentence-transformers
faster-whisper
ctranslate2
pyttsx3
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]
pyjwt
supabase
